@import url('https://fonts.googleapis.com/css2?family=Life+Savers&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #EFEAE5;
    overflow-x: hidden;
}

nav {
    width: 100vw;
    height: 60px;
    padding: 0 2vw;
    background: rgba(194, 88, 54, var(--op));
    color: #FFF;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navButton {
    border: none;
    background: transparent;
    color: #FFF;
    padding: 10px;
    height: 100%;
    width: 100%;
    /* cursor: pointer; */
}

.right, .left {
    display: flex;
    justify-content: space-around;
    /* gap: 2rem; */
}

ul {
    list-style: none;
}

.banner {
    position: relative;
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: #FFF;
    border-bottom: 1px solid #000000;
}

h1 {
    font-family: 'Life Savers';
    font-weight: 400;
    font-size: 5rem;
}

.parallax {
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 2;
    transform: translate(0, -20%);
}

.txt > h3 {
    font-family: sans-serif;
    font-weight: 400;
}

.banner:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), 50%, rgba(0, 0, 0, 0.2) 70%, #00000090 100%);
}

#verProdutos {
    width: 190px;
    height: 38px;
    position: absolute;
    bottom: 15%;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    z-index: 2;
}

.line {
    height: 1px;
    width: 75%;
    background-color: #FFF;
}

#nossosProdutos {
    font-family: 'Life Savers';
    font-weight: 400;
    font-size: 1rem;
    padding: 4vh 6vw;
}

#produtos {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.produto {
    margin-top: 20px;
    /* border: 1px solid #ccc; */
    /* padding: 10px;
    text-align: center; */
    /* background: #ff0000; */
}

.informacoes {
    display: flex;
    justify-content: space-between;
/*     font-family: sans-serif;
    font-size: 0.6em; */
}

.quantidade {
    display: flex;
    background: #D9D9D9;
    border-radius: 4px;
}

.quantidade_input {
    width: 15px;
    height: 35px;
    background: transparent;
    border: none;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.aumentar_quantidade,
.diminuir_quantidade{
    width: 21px;
    border: none;
    font-size: 1.2rem;
    background: transparent;
}

.botoes {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}

.comprar {
    font-size: 0.7rem;
    width: 60%;
    background: #C25836;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
}

.imagem {
    width: 100%;
}

#novidades, #contatos {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    font-family: sans-serif;
    font-weight: 400;
}

#novidades > h2, 
#contatos > h2 {
    font-family: 'Life Savers';
    font-weight: 400;
    font-size: 1.6rem;
    color: #C25836;
}

.container {
    /* position: relative; */
    display: flex;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 7px;
    overflow: hidden;
    /* padding: 10px; */
}

.input-box {
    /* position: absolute; */
    width: 200px;
    height: 100%;
    padding: 10px;
    border-radius: 7px 0 0 7px;
}

.input-box {
    border: 1px solid #ccc;
    font-size: 16px;
    color: #000;
}

.icon-envelope {
    color: #C25836;
    font-size: 24px;
}

.buttonOk {
    margin: 0;
    width: 60px;
    height: 100%;
    background-color: #C25836;
    color: #ffffff;
    border: none;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}

.lineDivision {
    background: #CCC;
    height: 1px;
    width: 80%;
    margin: auto;
}









/* 
.superior {
    
} */

.cart {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: #EFEAE5;
    overflow-x: hidden;
    transition: 0.5s;
    border-left: 1px solid #C2593670;
    box-shadow: -10px 0 15px #00000034;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 22px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* opacity: 0; */
    /* transition: 2s; */
}

#cart-items {
    /* background: #ccc; */
    width: 100%;
    height: 100%;
    overflow: auto;
}

#cart-items > .lineDivision {
    margin: 1rem auto;
}

.item {
    position: relative;
    display: flex;
    /* background: #f00; */
    height: 110px;
    margin: .5rem 0;
}

.item .quantidade {
    width: 140px;
}

.item .quantidade_input {
    width: 45px;
    height: 100%;
    background: transparent;
    border: none;
    text-align: center;
}

.item .aumentar_quantidade,
.item .diminuir_quantidade{
    width: calc(100% - 45px);
    height: 100%;
    border: none;
    font-size: 1.2rem;
    background: transparent;
}

.informacoesProduto {
    padding: .5rem;
    position: absolute;
    /* background: #0f0; */
    right: 0;
    width: calc(100% - 120px);
    height: 70%;
    /* white-space: nowrap; */
}

.informacoesProduto > #preco {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
}

.item > img {
    width: 120px;
    height: 100%;
}

.optButtons {
    width: calc(100% - 120px);
    position: absolute;
    display: flex;
    gap: 5px;
    height: 30%;
    bottom: 0;
    right: 0;
}

.lixo {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .item::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #CCC;
    position: absolute;
    bottom: -1rem;
} */



.cart > .wrapper > .superior > h2 {
    font-size: 1.3rem;
    white-space: nowrap;
}

.cart > .wrapper > .superior > .line,
.cart > .wrapper > .options > .line {
    width: 100%;
    margin: 15px 1px;
    background-color: #000;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

#total {
    font-weight: 600;
}

.options {
    width: 100%;
    position: relative;
    bottom: 0px;
}

.close {
    position: absolute;
    top: 18px;
    right: 16px;
    font-size: 30px;
    margin-left: 50px;
    cursor: default;
}

.buttons {
    margin: 14px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.actionButton {
    background: #C25836;
    color: #FFF;
    border: none;
    border-radius: 4px;
    height: 40px;
    white-space: nowrap;
}

.secondaryButton {
    background: transparent;
    color: #C25836;
    border: 1px solid #C25836;
    border-radius: 4px;
    height: 40px;
    white-space: nowrap;
}

#filtro {
    display: none;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transition: 1s;
}