/* Computador */

.parallax {
    background: rgba(0, 0, 0, 0.4)url(../banner.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}